@import "tailwindcss";

@import "@fontsource/bungee";

* {
  cursor: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Firefox */

html {
  scrollbar-width: thin;

  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}


body {
  background-color: #FAFAF7;
}

.myName {
  font-family: "Bungee", sans-serif;
}

.animate-fadeTop {
  animation: fadeTop 1s ease forwards;
}

.animate-fadeBottom {
  animation: fadeBottom 1s ease forwards;
}

@keyframes fadeTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}